# Python Tuples

Tuples are used to store multiple items in a single variable.

1> Ordered
2> immutable / Unchangeable
3> () or tuple()
4> Allow Duplicate

In [1]:
x=("ram","sham","pooja","geeta")

In [3]:
type(x)

tuple

# Access Items

Indexing [1]
Negative Indexing [-1]

# Slicing

Range of Indexes  [2:5]
Range of Negative Indexes[-4:-1]

# Check

Check if Item Exists --> in

In [5]:
x=("ram","sham","pooja","geeta")

In [6]:
x[-1]

'geeta'

In [7]:
print("ram" in x)

True

# Tuples Methods

In [ ]:
tuple(iterable)   # many items a list has

In [8]:
a=[2,4,45,6,67,7,8,8]

b=tuple(a)

In [11]:
type(b)

tuple

In [ ]:
count(value)    # Returns the count of given element

In [13]:
z=b.count(8)

In [14]:
z

2

In [ ]:
index(element)    # Returns the index of the first matched item

In [ ]:
min(tuple)      # return the minimum element in tuple

In [16]:
a=(2,4,45,6,67,7,8,8)
z=min(a)

In [17]:
z

2

In [ ]:
max(tuple)      # return the maximum element in tuple

In [ ]:
del(tuple)      # Removes all the elements from the tuple

In [18]:
del(a)

In [19]:
a

NameError: name 'a' is not defined

In [ ]:
sum(tuple)             # Sum of numbers in the Tuple

In [21]:
a=(2,4,45,6,67,7,8,8)

In [22]:
sum(a)

147

# -------------------------------------Page End-------------------------------------
Asterisc.in 
We will help you bring out the best in you...!! 
Industrial Training / Internship / College Projects
Contact 7744822228 / 7743822228 
Branches : Bhande Plot | Tiranga Chowk | Friends Colony